<template>
  <div class="hello">
    <p>Test</p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  p {
    color: Red;
    font-size: 72px;
  }
</style>
